@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        display: var(--display);
    }
    to {
        opacity: 0;
    }
}

@keyframes translate {
    from {
        transform: translateY(var(--translate));
    }
    to {
        transform: translateY(0);
    }
}

@keyframes open {
    from {
        height: 0;
    }
    to {
        height: var(--height);
    }
}
@keyframes close {
    from {
        display: var(--display);
    }
    to {
        height: 0;
    }
}
