#masthead {
    box-sizing: border-box;
    height: fit-content;
    min-height: var(--navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: max(40px, 10.14vw);
    padding: var(--head-padding) clamp(40px, 10.14vw, 146px);
    background-color: white;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);

    .site-logo {
        height: 14px;
    }

    button {
        padding: 0;
        background: none;
    }

    #primary-menu-list {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(1em, 3.13vw, 45px);
        margin: 0;
        padding: 0;

        a, .contact-btn {
            white-space: nowrap;
        }
    }
}

@media screen and (min-width: 430px) {
    #primary-mobile-menu {
        display: none;
    }
}
@media screen and (max-width: 430px) {
    #masthead {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
        position: sticky;
        top: 0;
        width: 100vw;
        z-index: 1;
    
        .site-logo {
            height: 9px;
        }

        #primary-menu-list {
            display: none;
            position: absolute;
            z-index: 1;
            top: var(--navbar);
            left: 0;
            right: 0;
            width: 100vw;
            height: calc(100vh - var(--navbar));
            background-color: var(--red);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 18px;
    
            a, .contact-btn {
                font-size: 44px;
                line-height: 65px;
                color: white;
            }
        }
    }
    #primary-mobile-menu {
        display: block;
    }
    #primary-mobile-menu .dropdown-icon.close {
        display: none;
    }
}

