.home {
    .page-header {
        width: 100%;
        height: calc(100vw * 0.67);
        position: relative;

        .wp-post-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .page-title {
            width: fit-content;
            height: fit-content;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            font-style: italic;
            font-size: max(27.59px, 6.67vw);
            color: transparent;
            -webkit-text-stroke-width: 0.21vw;
            -webkit-text-stroke-color: white;
        }
    }
    .photos-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 79px 0 40px;
        margin: auto;
        width: 79.72vw;
        align-items: center;

        #js-photos-filter {
            display: flex;
            flex-wrap: wrap;
            column-gap: clamp(8px, 2.5vw, 36px);
            row-gap: 8px;
            width: 100%;

            .select {
                position: relative;

                &#sort {
                    margin-left: auto;
                }

                p {
                    --chevron: url(./assets/images/chevron-down.svg);
                    box-sizing: border-box;
                    width: 260px;
                    height: 43px;
                    border: solid 1.3px #B8BBC2;
                    border-radius: 8px;
                    margin: auto;
                    padding: 11px 18px;
                    color: var(--dark-blue);
                    font-size: 12px;
                    text-transform: uppercase;
                    background: var(--chevron) no-repeat right 18px center;
                    cursor: pointer;

                    .default {
                        display: none;
                    }
                }
                .options {
                    --display: flex;
                    display: none;
                    flex-direction: column;
                    overflow: hidden;
                    position: absolute;
                    left: 0;
                    z-index: 1;
                    width: 260px;
                    height: 0;
                    margin: 0;
                    padding: 0;

                    li {
                        display: flex;
                        width: 100%;
                        vertical-align: middle;
                        align-items: center;
                        background-color: white;

                        &:last-child{
                            border-radius: 0 0 8px 8px;
                        }

                        &:hover {
                            background-color: var(--tertiary-red);
                        }
                        &:active {
                            background-color: var(--secondary-red);
                        }
                        &:has(input:checked) {
                            background-color: var(--red);
                            color: white;
                        }

                        input {
                            visibility: hidden;
                        }
                        label {
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            line-height: 12px;
                            box-sizing: border-box;
                            width: 100%;
                            height: 42px;
                            padding: 0 24px;
                            cursor: pointer;
                        }
                    }
                    &.open {
                        display: var(--display);
                        animation: open 500ms ease-in-out forwards;
                    }
                    &.close {
                        animation: close 500ms ease-in-out forwards;
                        display: none;
                    }
                }
            }
        }

        .js-loadmore-photos {
            box-sizing: border-box;
            width: min(100%, 272px);
            height: 50px;
        }
    }
}
@media screen and (max-width: 1043px) {
    .home {
        .photos-container {    
            #js-photos-filter {
                justify-content: center;
                .select {
                    &#sort {
                        margin-right: auto;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 431px) {
    .home {
        .photos-container {
            padding: 26px 29px 48px;
            width: 100%;
            box-sizing: border-box;

            #js-photos-filter {
                flex-direction: column;
                align-items: center;
    
                .select {
                    position: relative;
                    width: min(72vw, 270px);
    
                    &#sort {
                        margin-left: auto;
                    }
    
                    p {
                        width: min(72vw, 270px);

                    }
                    .options {
                        width: min(72vw, 270px);
                    }
                }
            }
    
        }
    }
}