#lightbox {
    --display: flex;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: clamp(8px, 3.82vw, 55px) clamp(8px, 3.47vw, 50px);
    gap: clamp(8px, 4.17vw, 60px);
    align-items: center;

    &.open {
        display: var(--display);
        animation: fadein 500ms ease-in-out forwards;
    }
    &.close {
        animation: fadeout 500ms ease-in-out forwards;
        display: none;
    }

    .close-btn {
        background: none;
        padding: 0;
        height: fit-content;
        position: fixed;
        top: 55px;
        right: 50px;
    }

    .nav-link {
        cursor: pointer;
        color: white;
        display: flex;
        gap: 8px;

        span {
            font-size: 12px;
            line-height: 18px;
        }
    }

    .photo-container {
        width: fit-content;
        margin: auto;
        display: none;
        flex-direction: column;
        justify-content: center;

        &.animated {
            display: flex;
            animation: fadein 500ms ease-in-out;
        }

        .photo {
            width: fit-content;
            height: fit-content;

            .wp-post-image {
                width: 100%;
                height: fit-content;
                max-height: calc(100vh - clamp(8px, 3.82vw, 55px) * 2 - 40px);
                object-fit: contain;
            }
        }
        .informations {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 8px;
            width: 100%;
            margin-top: 19px;

            .entry-title, .categorie {
                color: white;
                font-family: 'Poppins';
                font-size: 14px;
                line-height: 21px;
                font-weight: normal;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }

}
@media (orientation: landscape) {
    #lightbox {
        .photo-container {
            height: 100%;
        }
    
    }
}
@media (orientation: portrait) {
    #lightbox {
        .photo-container {
            height: fit-content;
        }
    
    }
}
@media screen and (max-width: 760px) {
    #lightbox {
        .nav-link {
            span {
                display: none;
            }
        }
    }
}