.photos-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;

    .single-photo {
        --translate: 17.19vw;
        flex: 0 1 calc(50% - 10px);
        height: 34.38vw;
        position: relative;
        opacity: 0;

        &.animated {
            animation: fadein 1000ms ease-in-out forwards, translate 1000ms ease-in-out forwards;
        }

        &:hover .overlay {
            opacity: 1;
            transition: opacity 250ms ease-in-out;
        }

        .wp-post-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            padding: 12px 18px;
            opacity: 0;
            transition: opacity 250ms ease-in-out;

            .js-lightbox {
                background: none;
                padding: 0;
                margin: 0;
                margin-left: auto;
                transform: scale(1);
                transition: transform 1000ms ease-in-out;

                &:hover {
                    transform: scale(1.2);
                    transition: transform 1000ms ease-in-out;
                }
            }

            a {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transform: scale(1);
                transition: transform 1000ms ease-in-out;

                &:hover {
                    transform: scale(1.2);
                    transition: transform 1000ms ease-in-out;
                }
            }

            .informations {
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 18px;

                .entry-title, .category {
                    margin: 0;
                    font-size: 14px;
                    font-family: 'Poppins';
                    text-transform: uppercase;
                    font-weight: normal;
                }
            }
        }
    }
}
@media screen and (max-width: 760px) {
    .photos-wrapper {
        .single-photo {
            flex: 0 1 100%;
            height: 74.4vw;
        }
    }
}